#fretboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;

  #fretNumbers {
    display: flex;
    gap: 8px;
    width: 100%;
    margin-bottom: -8px;

    p {
      display: flex;
      justify-content: center;
      min-width: calc(var(--note_min_width) * 1px);
      width: calc(var(--note_max_width) * 1px);
      max-width: calc(var(--note_max_width) * 1px);
    }
  }
}

@media(max-width: 900px) {
  #fretboard {
    gap: 6px;

    #fretNumbers {
      gap: 6px;
      margin-bottom: -6px;
    }
  }
}

@media(max-width: 600px) {
  #fretboard {
    gap: 4px;

    #fretNumbers {
      gap: 4px;
      margin-bottom: -4px;
    }
  }
}