#fretboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;

   // Still scrolling in hard snaps instead of softly.
    overflow: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
  
    &::-webkit-scrollbar {
      height: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }

    .note {
      scroll-snap-align: start;
    }

  .fretnumbers {
    position: relative;
    display: flex;
    gap: 8px;
    width: 100%;
    margin-bottom: -8px;

    p {
      display: flex;
      justify-content: center;
      min-width: calc(var(--note_min_width) * 1px);
      width: calc(var(--note_width) * 1px);
      max-width: calc(var(--note_max_width) * 1px);
    }

    .invisible {
      position: absolute;
      display: flex;
      left: 100%;
      margin-left: 8px;
      gap: 8px;
      width: fit-content;
    }
  }
}

@media(max-width: 900px) {
  #fretboard {
    gap: 6px;

    .fretnumbers {
      gap: 6px;
      margin-bottom: -6px;

      .invisible {
        gap: 6px;
        margin-left: 6px;
      }
    }
  }
}

@media(max-width: 600px) {
  #fretboard {
    gap: 4px;

    .fretnumbers {
      gap: 4px;
      margin-bottom: -4px;

      .invisible {
        gap: 4px;
        margin-left: 4px;
      }
    }
  }
}