#fretboardSettings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 0 20px;

  .strings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: fit-content;
    max-width: 100%;

    .string { // Overrides string styling due to added +/- note
      display: flex;
      gap: 5px;
      max-width: 100%;
    }

    .add {
      .note {
        opacity: 0;

        &:first-of-type {
          opacity: 1;
          color: blue;
        }
      }

      &:hover {
        .note {
          opacity: 0.5;

          &:first-of-type {
            opacity: 1;
          }
        }
      }

      .note {
        &:hover {
          opacity: 1;
        }
      }
    }

    .remove {
      .note:first-of-type {
        color: red;
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}
@media(max-width: 900px) {
  #fretboardSettings {
    padding: 0 15px;
    .strings {
      .string {
        .note {
          max-width: 35px;
        }
      }
    }
  }
}

@media(max-width: 600px) {
  #fretboardSettings {
    padding: 0 10px;
    
    .strings {
      .string {
        .note {
          max-width: 30px;
        }
      }
      .add {
        .note {
          opacity: 0.1;
        }
      }
    }
  }
}