.note {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1/ 1;
  min-width: calc(var(--note_min_width) * 1px);
  width: calc(var(--note_width) * 1px);
  max-width: calc(var(--note_max_width) * 1px);

  border: 1px solid black;
  border-radius: 10%;

  &.hidden {
    visibility: hidden;
  }

  &.sharp::after {
    content: "#";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
  }

  &:hover {
    color: white;
    background-color: var(--selected);
  }

  &.colored {
    &[data-note="A"] {
      background-color: #F68567;
    }
    &[data-note="A#"] {
      background-color: #F489A7;
    }
    &[data-note="B"] {
      background-color: #DF92BE;
    }
    &[data-note="C"] {
      background-color: #AC8BC0;
    }
    &[data-note="C#"] {
      background-color: #9087C0;
    }
    &[data-note="D"] {
      background-color: #879BCE;
    }
    &[data-note="D#"] {
      background-color: #96D1F3;
    }
    &[data-note="E"] {
      background-color: #ABDAC6;
    }
    &[data-note="F"] {
      background-color: #ABD595;
    }
    &[data-note="F#"] {
      background-color: #C1DD89;
    }
    &[data-note="G"] {
      background-color: #F9F18C;
    }
    &[data-note="G#"] {
      background-color: #FEC679;
    }
  }
}