.string {
  position: relative;
  display: flex;
  gap: 8px;
  max-width: 100%;



  &.normal {
    .note {
      scroll-snap-align: start;
    }

    .invisibleNotes {
      position: absolute;
      left: 100%;
      display: flex;
      margin-left: 8px;
      gap: 8px;
    }

    @media(max-width: 900px) {
      .invisibleNotes {
        margin-left: 6px;
        gap: 6px;
      }
    }
    @media(max-width: 600px) {
      .invisibleNotes {
        margin-left: 4px;
        gap: 4px;
      }
    }
  }

  // &.normal {
  //   &:nth-child(1)::before {
  //     z-index: 5;
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     left: 0;
  //     bottom: 0;
  //     background-color: black;
  //   }

 
  // }
  // &.normal::after {
  //   // content: '';
  //   // position: absolute;
  //   // top: 0;
  //   // right: 0;
  //   // left: 0;
  //   // bottom: 0;
  //   // background-color: black;
  // }
}
@media(max-width: 900px) {
  .string {
    gap: 6px;
  }
}
@media(max-width: 600px) {
  .string {
    gap: 4px;
  }
}